
.formContainer{
  text-align: center;
  max-width: 800px;


box-shadow: 3px 30px 38px grey;
padding: 20px;
border-style: solid;
margin: auto;
margin-top: 20px;

}

.question{
  font-size: 30px;
  color: rgb(68, 64, 64);

}

.formElement{

  margin-top: 30px;
}


.radio{

  padding: 15px;
  font-size: 20px;
}

.submit{
  font-size: 20px;
  margin-top: 20px;
  width: 50%;
  color: white;
  border-color: blue ;
  background-color: rgb(41, 72, 247);
  border-radius: 10px;
}

.submit:hover{
  background-color: cornflowerblue;
  border-radius: 50px;
}

.heading{

  text-shadow: 5px 10px 10px rgb(29, 29, 39);
  padding-bottom: 50px;
}

.result{

  font-size: 25px;
}

body{
  background-image: linear-gradient(to bottom, lightblue , white);
  background-repeat: no-repeat;

}

#form{
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;

}

.formSubHeadings{
  font-size: 25px;
  padding-bottom:10px;
  padding-top:10px;
}

.formEntries{
  font-size: 20px;
  margin-bottom: 10px;
}

#submitButton{

  padding-top: 20px;
}

#note {

  font-size: 20px;
  margin-top: -30px;
  margin-bottom: 20px;
  color: red;
}

#wrapper{


  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
 
}